<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关注的博客</title>
<style type="text/css">
a{
	font-size:16px;
}
a:link {color: #444444}		/* 未访问的链接 */
a:visited {color: #444444}	/* 已访问的链接 */
a:hover {color: #444444}	/* 鼠标移动到链接上 */
a:active {color: #444444}	/* 选定的链接 */
</style>
</head>

<body>
<h1>前端<a href="doc/resume.doc">简历下载</a></h1>
<a href="http://www.cnblogs.com/jingangel/archive/2012/06/16/2551535.html" title="" >前端集合</a>
<a href="http://code.csdn.net/news/2820990" title="" >前端大牛</a>
<a href="http://meyerweb.com/eric/" title="">Eric A.Meyer</a>
<a href="http://www.ruanyifeng.com/home.html" title="" >阮一峰</a>
<a href="http://www.nowamagic.net/librarys/veda/" title="" >Veda</a>
</body>
</html>
